OPENAI_API_KEY=sk-....
COHERE_API_KEY=RGvM5.....

REDIS_URL=rediss://red......

QDRANT_URL=https://qdran......

DATABASE_URL=postgresql://postgres_syn......

QDRANT_CLOUD_API_KEY=eyJhbGci........

QDRANT_CLOUD_URL=https://f9cd9e7................